<!doctype html>
<html>
<head>
    <title>Parks and Recreation</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style2.css">
    <!-- <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script> -->
</head>
<body>

    <header class="index text-center">
        <h1 class="index indexH1">Boston: Parks and Recreation</h1>
         <nav>
            <section>
            <h2 class="index">Already a Member? Login</h2>
            <a href="/login" class="btn btn-warning btn-lg index"><span class="fa fa-user"></span>Login</a>
        </section>
        <section>
            <h2 class="index">Join Our Community Today!</h2>
            <a href="/signup" class="btn btn-warning btn-lg index"><span class="fa fa-user"></span>Signup</a>
        </section>

            
        </nav>

        </header>

<div class="container">

    <section class="indexImg"><img  src="img/bcommon.jpeg" alt=""></section>
    <section class="text-center aboutMe jumbotron"> 
        <h3 class="index">About This Site</h3> 
        <p class="index">Boston Parks and Recreation was created for people in the Boston area who want to explore the 
            the best parks the area has to offer. By joining our community you can see parks and areas 
            to enjoy outdoor activities. Recommend different activities that make the area unique and challenge yourself 
            to what others enjoy doing in the community.
        </p> 
    </section>
</div>
<footer class="text-center">
    <section class="theFooter">
        <p>&copy Copyright 2020 All Rights Reserved el-roc</p>
    </section>
</footer>
<script src="mapmain.js"></script>
</body>
</html>
