<!doctype html>
<html>

<head>
  <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
	
  <title>Parks and Recreation</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="location-data" style="visibility:hidden"><%= locations %></div>
  <div id="mapid" style="width: 65%; height: 400px;"></div>
  <form action="/mark" method="POST">
    <input class="name-of-park" name="name" type="text" placeholder="Name of Park">
    <input class="lat" name="lat" value="" type="text" placeholder="Lattitude">
    <input class="lng" name="lng" value="" type="text" placeholder="Longintude">
    <input class="submit" type="submit">
  </form>
    <button class="editable">Edit Map</button>
    <a href="/parks" class="btn btn-default"><span class="fa fa-user"></span>To Parks Forum</a>
    <a href="/profile" class="btn btn-default"><span class="fa fa-user"></span>To Profile</a>
    <a href="/favorites" class="btn btn-default"><span class="fa fa-user"></span>To User Favorites</a>

    <script src="https://kit.fontawesome.com/077191d827.js" crossorigin="anonymous"></script>
    <script src="mapmain.js"></script>
</body>

</html>
