<!doctype html>
<html>

<head>
  <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
	
  <title>Parks and Recreation</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="style2.css">
</head>

<body>
  <!-- <p><%= locations %></p> -->
  
  <header class="page-header text-center">
    <h1 class="mapTitle text-center">Find a Park Location</h1>
    <section></section>
    <a href="/logout" class="btn btn btn-warning btn-lg btn-sm">Logout</a>
  </section>
  </header>
  <section>
    <p class="words text-center">Click On Mark Map Button To Start <button class="editable btn btn-warning btn-md">Mark Map</button></p>
    <h4 class="words text-center">Submit New Location</h4>
    
    <form id="mapCoordinateForm" action="/mark" method="POST" class="col-sm-9">
      <section id="mapInputs" class="col-sm-12 col-md-9">
        <input class="name-of-park" name="name" type="text" placeholder="Name of Park">
        <input class="lat" name="lat" value="" type="text" placeholder="Latitude">
        <input class="lng" name="lng" value="" type="text" placeholder="Longitude">
    </section>  
      <input id="mapSubmitBtn" class="btn-warning btn-md " type="submit">
    </form>
    
</section>
  <div class="location-data" style="visibility:hidden"><%= locations %></div>
  <div id="mapid" style="width: 80%; height: 400px; margin:0 10%;"></div>
   <section class="buttonOnMaps">
    <a href="/profile" class="btn btn btn-warning btn-lg mapBtn"><span class="fa fa-user"></span>Profile</a>
    <!-- <a href="/favorites" class="btn btn btn-warning btn-lg mapBtn"><span class="fa fa-user"></span>User Favorites</a> -->
    <%
    console.log("is admin?",user.local, user.local.admin)
    if(user.local.admin){ %>
    <a href="/admin" class="btn btn btn-warning btn-lg mapBtn"><span class="fa fa-user"></span>Admin Page</a>
    <%}else{
      console.log("nope!:")
    } %> 
  </section>
    <script src="https://kit.fontawesome.com/077191d827.js" crossorigin="anonymous"></script>
    <script src="mapmain.js"></script>
</body>

</html>
