<!doctype html>
<html>

<head>
  <title>Parks and Recreation</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="style.css">
</head>

<body>
    <Section id="explainMaps">
        <p> This Page will use a map api to find your Location based on the zip code you enter(limit to boston area).
            After the location is updated, parks that were entered by users will appear on the map based on the
            information sent to the Database(lattitde & longitude). you can click on the pins and it will take you to the "/parks pg", specifically the section that shows the location that was clicked.
        </p>
    </Section>    
    <!-- <span class="fa fa-anchor"></span> -->
    <div class="page-header text-center">
      <h1>Maps Page</h1>
      <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <h1>Find Your Local Parks</h1>
        <div class="container2">
        <input id="zipcode" type="text" placeholder="ZipCode">
        <a href="/profile" class="btn btn-default"><span class="fa fa-user"></span>To User Profile</a>
        <a href="/parks" class="btn btn-default"><span class="fa fa-user"></span>To Parks Forum</a>
        <a href="/favorites" class="btn btn-default"><span class="fa fa-user"></span>To User Favorites</a>
        <section id="map">  alt="Map of Boston"> </section>
    
    </div>
    
    <script src="https://kit.fontawesome.com/077191d827.js" crossorigin="anonymous"></script>
    <script src="main.js"></script>
</body>

</html>
