<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.1/css/ol.css" type="text/css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <!-- <link rel="stylesheet" href="https://raw.githubusercontent.com/openlayers/openlayers/master/src/ol/ol.css"> -->
    <style>
      .map {
        height: 400px;
        width: 100%;
      }
    </style>
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.1/build/ol.js"></script>
    <title>OpenLayers Map Boston</title>
  </head>
  <body>
    <h2>Map to Parks</h2>
    <h3> <a href="https://www.google.com/maps/"> Link To Google Maps </a> </h3>
    <div id="map" class="map"></div>
    <script type="text/javascript">
      var VectorLayer = ol.layer.Vector;
      var VectorSource = ol.source.Vector;
      var Feature = ol.Feature;
      var Style = ol.style.Style;
      var Circle  = ol.style.Circle;
      var OSM = ol.source.OSM;
      var Fill = ol.style.Fill;
      var Point = ol.geom.Point;
      var fromLonLat = ol.proj.fromLonLat;
      var TileLayer = ol.layer.Tile;
      // var useGeographic() = ol.proj.useGeographic;
      // useGeographic()
      var bostonCommon = fromLonLat([-71.0602778, 42.3583333]);
      // console.log(bostonCommon);

      var map = new ol.Map({
        target: 'map',
        view: new ol.View({
          center: bostonCommon,
          zoom: 12
        }),
        layers: [
          new TileLayer({
            source: new OSM()
          }),
        new VectorLayer({
          source: new VectorSource({
            features: [
              new Feature(new Point([-71.0602778, 42.3583333]))
            ]
          }),
          style: new Style({
            image: new Circle({
              radius: 9,
              fill: new Fill({color: 'red'})
            })
          })
        })
      ],
    //     layers: [
    //       new ol.layer.Tile({
    //         source: new ol.source.OSM()
    //       }),
    //       new ol.layer.Vector({
    //   source: new ol.source.Vector({
    //     features: [
    //       new ol.Feature(ol.proj.fromLonLat([-71.0602778, 42.3583333]))
    //     ]
    //   }),
    //   style: new ol.style.Style({
    //     image: new ol.style.Circle({
    //       radius: 9,
    //       fill: new ol.style.Fill({color: 'red'})
    //     })
    //   })
    // })
    //     ],
      });
      
    </script>
     <a href="/profile" class="btn btn-default"><span class="fa fa-user"></span>To User Profile</a>
     <a href="/parks" class="btn btn-default"><span class="fa fa-user"></span>To Parks Forum</a>
     <a href="/favorites" class="btn btn-default"><span class="fa fa-user"></span>To User Favorites</a>
    <script src="main.js"></script>
  </body>
</html>